@import 'style-rules/reset.css';
@import 'style-rules/fonts.css';
@import 'style-rules/header.css';
@import 'style-rules/footer.css';
@import 'style-rules/buttons.css';

#wrapper-contact {
    width: 80%;
    margin: 0 auto;
}


#wrapper-contact h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

#sage-leaf-logo {
    min-height: 75px;
    background-image: url('../images/sage-leaf-design-logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
    margin: 30px 0 45px 0;
}

#self-image {
    display: flex;
    justify-content: center; 
}

#self-image img {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

#contact-description {
    padding: 15px 0;
    font-size: 1.25em;
}

#sage-link { 
    text-decoration: none;
    color: #42594c;
    font-weight: bold;
}

#sage-link:hover {
    text-decoration: underline;
  }
  
#sage-link:active {
    text-decoration: underline;
}

#contact-form {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 15px 3% 0 3%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#contact-form legend h2 {
    font-size: 1.5em;
}

fieldset h2 {
    font-size: 1.1em;
}
input, select {
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
}

input[type=text], input[type=email], textarea {
    width: 100%; 
    border: 1px #aaa solid;
}

textarea {
    height: 12em;
}

#required-field-text {
    font-size: 75%;
}

#contact-button {
    border: 1px #777 solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(137, 145, 146);
    text-shadow: 1px 1px #000;
}

#contact-button:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#google-map {
    display: flex;
    justify-content: center;
}

#google-map iframe {
    width: 100%;
    border: 0;
    min-height: 300px;
    padding: 25px 0;
}

@media (min-width: 238px) {
    #sage-leaf-logo {
        min-height: 150px;
    }
}

@media (min-width: 345px) {
    #self-image img {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 400px) {
    #sage-leaf-logo {
        min-height: 150px;
    }
}




@media (min-width: 700px) {

    #wrapper-contact {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "sage-leaf sage-leaf"
        "self cDescrip"
        "cForm cForm";
        /* "map map"; */
        
        justify-items: center;
        justify-content: space-evenly;
        align-items: center; 
        gap: 45px 10%;
        margin-bottom: 25px; 
        padding-top: 15px;
        width: 70%;
    }

    
    #wrapper-contact h1 {
        grid-area: cTitle;
    }
    

    #self-image {
        grid-area: self;
    }

    #self-image img {
        width: 205px;
        height: 205px;
    }

    #contact-description {
        grid-area: cDescrip;
        width: 100%;
        font-size: 1em;
        margin-right: 30%;
    }

    #sage-leaf-logo {
        grid-area: sage-leaf;
        margin-bottom: 10px;
        min-height: 250px;
    }

    #contact-form {
        grid-area: cForm;
        margin-top: 0;
        width: 100%;
    }

    textarea {
        height: 20em;
    }

    #google-map {
        grid-area: map;
        width: 100%;
        min-height: 500px;
        margin-top: 30px;
    }
}

@media (min-width: 875px) {
    #self-image img {
        width: 250px;
        height: 250px;
    }

    #contact-description {
        font-size: 1.25em;
    }
}

/*
@media (min-width: 1100px) {
    #contact-description {
        font-size: 1.5em;
    }
}
*/
