@font-face {
    font-family: 'Orbitron-SemiBold';
    src: URL('../../fonts/Orbitron-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Assistant-Light';
    src: URL('../../fonts/Assistant-Light.ttf') format('truetype');
}

  @font-face {
    font-family: 'RedHatDisplay-Regular';
    src: URL('../../fonts/RedHatDisplay-Regular.ttf') format('truetype');
}