footer {
    min-height: 100px;
    background-color: rgb(3, 72, 77);
    color: white;
    border-top: 1px solid #555;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top: 9px solid #bbb;
}

#computer-screen-image {
    width: 100px;
    height: auto; 
    background-size: cover; 
    margin: 15px;
}

#computer-screen-image img {
    width: 100px;
    height: 80px;
    margin-bottom: 10px;
}

#computer-screen-caption {
    text-align: center;
    font-family:'Orbitron-SemiBold', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#footer-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#social-media-icons {
    margin-bottom: 10px;
    text-align: center;
    
}

#twitter-link img { 
    width: 35px;
    height: 35px;
}


#facebook-link img {
    width: 35px;
    height: 35px;
}

#linkedin-link img {
    width: 35px;
    height: 35px;
}

@media (min-width: 550px) {

    footer {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto;
        grid-template-areas:
        "comp . rght";
    }

    #computer-screen {
        grid-area: comp;
        margin: 0;
    }

    #footer-title {
        grid-area: ftitle;
    }

    #right-footer {
        grid-area: rght;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #social-media-icons {
        grid-area: soc-media;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 15px; 
        align-self: center;
        margin-left: 5%;
        padding-bottom: 10px;
    }
    
    #social-media-icons a img {
        margin: 0 3px;
    }

    #footer-text {
        grid-area: txt;
        display: flex;
        justify-content: center;
        align-self: center;
    }   


}

@media (min-width: 600px) {

    #social-media-icons {
        margin-left: 5%;
    }

    #footer-text {
        margin-left: 5%;
       
    }   
}

@media (min-width: 900px) {

    #social-media-icons {
        margin-left: 20%;
    }

    #footer-text {
        margin-left: 20%;
       
    }   
}

@media (min-width: 1200px) {

    #social-media-icons {
        margin-left: 40%;
    }

    #footer-text {
        margin-left: 40%;
       
    }   
}