footer {
    min-height: 100px;
    background-color: rgb(3, 72, 77);
    color: white;
    border-top: 1px solid #555;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#computer-screen-image {
    background-image: url("../../images/comp-screen.png");
    background-repeat: no-repeat;
    width: 128px;
    height: 103px; 
    background-size: cover; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-text {
    margin-bottom: 10px;
}

#social-media-icons {
    margin-bottom: 10px;
}

@media (min-width: 550px) {

    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 65px 65px;
        grid-template-areas:
        "img txt"
        "img soc-media";
    }

    #computer-screen-image {
        grid-area: img;
    }

    #footer-text {
        grid-area: txt;
    }

    #social-media-icons {
        grid-area: soc-media;
    }



}