footer {
    min-height: 100px;
    background-color: rgb(3, 72, 77);
    color: white;
    border-top: 1px solid #555;
    padding: 15px 25px;
}

#computer-screen-image {
    background-image: url("../../images/comp-screen.png");
    background-repeat: no-repeat;
    width: 128px;
    height: 103px; 
    background-size: cover; 
}

#footer-text {
    margin: 15px 0 5px 0;
}