/* reset styles */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

img {
    max-width: 100%; 
}

header, nav, section, article, footer {
    display: block;
}


body {
    font-size: 100%; 
    font-family: 'Assistant-Light', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000;
    line-height: 1.5; 
    background-color: #f1f1f1; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RedHatDisplay-Regular', 'Assistant-Light', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
