/* reset styles */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

img {
    max-width: 100%; 
}

header, nav, section, article, footer {
    display: block;
}


body {
    font-size: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.5; 
    background-color: #f1f1f1; 
}

